html {
    height: 100%;
}

body {
    background-color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}

#chart {
  height: 720px; /* must at least match the svg, to place content after it!*/
  overflow: hidden;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
}

.link {
  fill: none;
  /*stroke: #000;*/
  stroke-opacity: .5;
}

.link:hover {
  stroke-opacity: .8;
}

#app {
    height: 100%;
}

.side-menu {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    height: 100%;
}

.content {
    height: 100%;
}

.beneficiary-item {
    padding: 4px 0;
}